[user]
    name = Alessio Biancalana
    email = alessio@dottorblaster.it
[alias]
        co = checkout
        ci = commit
        fi = commit --fixup
        ri = rebase -i --autosquash
        st = status
        ff = pull --ff-only
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
        autosquash = !git rebase -i --autosquash $(git merge-base master HEAD)
        asqmain = !git rebase -i --autosquash $(git merge-base main HEAD)
        please = push --force-with-lease
        smi = submodule update --init --recursive
[gpg]
    program = gpg2

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[includeIf "hasconfig:remote.*.url:git@github.com:openSUSE/**"]
    path = ~/.gitconfig-opensuse
    
[includeIf "hasconfig:remote.*.url:git@github.com:SUSE/**"]
    path = ~/.gitconfig-suse

[includeIf "hasconfig:remote.*.url:git@github.com:StackVista/**"]
    path = ~/.gitconfig-suse
